/********** Base styles **********/
*{
box-sizing: border-box;
margin: 0px;
}


/*Page/Site style*/
body {
  background-color: white;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
}


/*Text style*/
p {
font-family: Monaco, monospace;
color: black;
font-size: 125%;
padding-top: 60px;
}


/*Header*/
h1 {
color: black;
font-family: Monaco, monospace;
text-align: center;
font-weight: bold;
margin-bottom: 0px;
}


/*Container for Media*/
div#container {
  background-color: white;
  position: relative;
  top: 60px;
}


/*Box ID*/
#Chicken {
color:black;
font-family: Monaco, monospace;
font-size: 175%;
font-weight: bold;
float: right;
text-align: center;
box-sizing: border-box;
  background-color: #D59898;
  padding: 0px;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  width: 200px;
  height: 50px;
  margin: auto;
}


/*Box ID*/
#Beef {
color: white;
font-weight: bold;
font-family: Monaco, monospace;
font-size: 175%;
float: right;
text-align: center;  
box-sizing: border-box;
  background-color: #C14543;
  padding: 0px;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  width: 200px;
  height: 50px;
  margin: auto;
}


/*Box ID*/
#Sushi {
color:black;
font-family: Monaco, monospace;
font-size: 175%;
font-weight: bold;
float: right;
text-align: center;
box-sizing: border-box;
  background-color: #E5D199;
  padding: 0px;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  width: 200px;
  height: 50px;
  margin: auto; 
}

/*Chicken Layout*/
#box1 {

color:black;
font-family: Monaco, monospace;
font-size: 125%;
float: left;
text-align: left;
padding-left: 20px;
box-sizing: border-box;
  background-color: gray;
  border: 5px solid black;
  margin-left: 10px;
 	margin-bottom: 10px;
 	position: relative;
 	top: 10px ;
 }


/*Beef Layout*/
#box2 {
color:black;
font-family: Monaco, monospace;
font-size: 125%;
float:left;
text-align: left;
padding-left: 20px;
box-sizing: border-box;
  background-color: gray;
  border: 5px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
  top: 10px;
  left: 0%;
  }


/*Sushi Layout*/
#box3 {
color:black;
font-family: Monaco, monospace;
font-size: 125%;
float: left;
text-align: left;
padding-left: 20px;
box-sizing: border-box;
  background-color: gray;
  border: 5px solid black;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
  top: 10px;
  }


/********** Large devices only **********/
@media (min-width: 992px) {
  #box1 {
    width: 32%;
  }

  #box2 {
    width: 32%; 
  }

  #box3 {
    width: 32%; 
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #box1 {
    width: 48%; 
  }
  
  #box2 {
    width: 48%;
  }
  
  #box3 {
    width: 97%;   
  }
}


/********** Small devices only **********/
@media (max-width: 767px) {
  #box1 {
    width: 97%;
  }
  
  #box2 {
    width: 97%;
  }
  
  #box3 {
    width: 97%;
  }
}
